@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html{
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
}
body{
    min-height: 100%;
    background-image: url("./bg-pokemon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    margin-bottom: 0 !important;
}
/* .refresh{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
} */
/* .pokemonId{
    position: absolute;
    top: 0.5rem;
    right: 0;
} */
.card{
    background: rgba(255, 255, 255, 0.435) !important;
    backdrop-filter: blur(0.3rem) !important;
    padding: 10px;
}